@model CustomerRegistry.Application.DTOs.CustomerDTO

<h3>Edit Customer</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" id="PhoneNumber" oninput="maskPhone(event)" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Plan" class="control-label"></label>
                <input asp-for="Plan" class="form-control" />
                <span asp-validation-for="Plan" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PlanPrice" class="control-label"></label>
                <input asp-for="PlanPrice" asp-format="{0:N2}" class="form-control" />
                <span asp-validation-for="PlanPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastPaymentDate" class="control-label"></label>
                <input asp-for="LastPaymentDate" class="form-control" />
                <span asp-validation-for="LastPaymentDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-info" asp-action="Index"><i class="fa-solid fa-arrow-left-long"></i></a>
</div>

<script>
    function maskPhone(event) {
        const input = event.target;
        let value = input.value.replace(/\D/g, '');
        value = value.replace(/^(\d{2})(\d)/g, '($1) $2');
        value = value.replace(/(\d)(\d{4})$/, '$1-$2');
        input.value = value;
    }
</script>
